@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Edu+NSW+ACT+Foundation&family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Pacifico', sans-serif;
    text-align: center;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

h2{
color:rgb(185, 93, 93);
font-size: 5rem;
font-weight: 700;
letter-spacing: 8px;
margin-bottom: 2rem;
text-align: center;
}
h4{
color:rgb(125, 64, 64);
font-size: 4rem;
font-weight: 400;
text-align: center;
}

.image{
    margin-top: 8rem;
    margin-bottom: 500;
    text-align: center;
}

p{
    font-size: 2rem;
    color:rgb(176, 115, 115);
    line-height: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: #845a5a;
    font-size: 2rem;
    text-decoration: none;
    color: bisque;
    border-radius: 10px;
    transition: background 0.5s;
    text-align: center;

}

.btn:hover{
    background: #dadada;
    text-align: center;
}

