
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Edu+NSW+ACT+Foundation&family=Faustina:wght@300&family=Marck+Script&family=Pacifico&family=Sacramento&display=swap');

  *
  {
      margin: 0;
      padding: 0;
      width: fit-content;;
      box-sizing: border-box;
      scroll-behavior: smooth;
      font-family:'Faustina', sans-serif;
      background: #E6E6E6;
  }
  section
  {
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #E6E6E6;
  
  }
  header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    padding: 20px  ;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header .logoo
{
    position: relative;
    max-width: 80px;
}
header ul 
{
    position: relative;
    display: flex;
}

header ul li 
{
    list-style: none;;
}
header ul li a 
{
    display: inline-block;
    color: #0D7927;
    font-weight: 500;
    margin-left: 50px;
    text-decoration: none;
}
.Conts
{
max-width: 1100px;
margin: 0 auto;
padding: 0 3rem;
margin-top: 4rem;
}
h1
{
    color: #084817;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}
h2
{
    color: #ef94cc;
    font-size: 2rem;
    font-weight: 400;
}
